// Imports
@use "./css/volumepop.scss";
@use "./css/widgets.scss";
@use "./css/calendar.scss";
@import "./css/variables.scss";

// Global stuff
* {
    min-height: 25px;
    all: unset;
    color: $Foreground;
}

window {
    background-color: transparent;
    font-family: "SpaceMono Nerd Font";
}

.container {
    background-color: $Background;
    padding: 8px;
    padding-top: 5px;
}

.round {
    background-color: transparent;
    min-height: 25px;
    min-width: 25px;
    box-shadow: 0 -30px 0 0 $Background;
}

