* {
    font-family: "SpaceMono Nerd Font";
}

window {
    background-color: rgba(0, 0, 0, 0);
}

.bar {
    border-radius: 2px;
}

.widgets {
    background-color: rgba(10, 10, 10, 255);
    padding: 1px;
    padding-left: 10px;
    border-radius: 18px;
    font-size: 15px;
    margin: 3px;
}

.icon {
    font-size: 27px;
}
