@use "./css/volumepop.scss";
@use "./css/widgets.scss";
@use "./css/calendar.scss";

* {
    min-height: 25px;
    all: unset;
    color: #d1d1d1;
}

window {
    background-color: rgba(0, 0, 0, 0);
    font-family: "SpaceMono Nerd Font";
}

.container {
    background-color: #111111;
    padding: 8px;
    padding-top: 5px;
}

.round {
    background-color: rgba(0, 0, 0, 0);
    min-height: 25px;
    min-width: 25px;
}

