@import "./variables.scss";

scale {
    min-height: 10px;
    min-width: 175px;
    background-color: transparent;
}

highlight {
    min-height: 10px;
    background-image: linear-gradient(to right, #88aabb, #8888bb);
    border-radius: 8px 0 0 8px;
}

trough {
    min-height: 10px;
    background-color: $Foreground;
    border-radius: 8px;
}

slider {
    min-height: 15px;
    min-width: 15px;
    border-color: #8888bb;
    border-radius: 50%;
    background-color: #8888bb;
}
