scale {
    min-height: 10px;
    min-width: 175px;
    background-color: rgba(0, 0, 0, 0);
}

highlight {
    min-height: 10px;
    background-color: #d1d1d1;
    border-radius: 8px 0 0 8px;
    padding-right: 7px;
}

trough {
    min-height: 10px;
    background-color: #a1a1a1;
    border-radius: 8px;
}

slider {
    min-height: 15px;
    min-width: 15px;
    border-color: #8888bb;
    box-shadow: 0 0 0 0 #ff0000;
    border-radius: 50%;
    margin-left: 6px;
    background-color: #8888bb;
}

mark {
    border-color: red;
    color: red;
}
