@import "./variables.scss";

.widgets, .clickable, .clickable-active, .title {
    background-color: $LighterBg;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    font-size: 15px;
    /* margin: 5px 5px; */
    font-weight: bold;
}

.title {
    padding: 10px 20px 10px 20px;
    font-family: "Space Mono";
}

.clickable-active:hover, .clickable:hover {
    background-color: $HoverBg;
    background-repeat: no-repeat;
}

.clickable-active, .clickable:active {
    animation-name: ripple;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
}

.icon {
    font-size: 27px;
    font-weight: normal;
}

@keyframes ripple {
    from {
	background-image: radial-gradient(circle, $Ripple 88%, transparent 20%);
	background-size: 0%;
	background-position: center;
    }

    95% {
	background-image: radial-gradient(circle, $Ripple 88%, transparent 20%);
	background-size: 120%;
	background-position: center;
    }

    99% {
	background-color: $Ripple;
    }

    to {
	background-image: none;
	background-color: $HoverBg;
    }
}
